@tailwind base;
@tailwind components;
@tailwind utilities;


#power-checkout-wc-setting-app,
#power_checkout_invoice_meta_box,
#power_checkout_refund_dialog,
#_pc_issue_invoice_params_container {

    /* wp-admin 後台 input 會有預設的 Style */

    input {
        padding: 0;
        line-height: var(--el-input-inner-height);
        color: var(--el-input-text-color, var(--el-text-color-regular));
        border: none;
        box-shadow: none;

        &,
        &:focus {
            outline: none;
        }

        &:disabled {
            background: none;
        }
    }

    a {
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    .el-divider__text {
        background-color: #f0f0f1;
    }
}

/* 隱藏發票資料 */
#_pc_issue_invoice_params {
    display: none !important;
}